/**
 * Global
 */

* {
  box-sizing: border-box;
}

:root {
  --navy: #133C55;
  --white: #FFF;
  font: 16px/1.5 'IBM Plex Sans', sans-serif;
}

body {
  margin: 0 0 4rem;
  color: #222;
}

header, a, [data-reset]:hover, [data-reset]:focus {
  color: var(--white);
}

header {
  padding: 4rem 0;
  background: var(--navy);
}

h1 {
  margin: 0;
  font-size: 3rem;
  line-height: 1.1;
}

@media (min-width: 48rem) {
  h1 {
    font-size: 6rem;
  }
}

h2, .hex {
  font-size: 3rem;
}

h2 {
  margin-right: 2rem;
}

h2::after {
  content: "✅";
  margin-left: 1rem;
}

[role='doc-subtitle'] {
  font-style: italic;
  font-size: 1.5rem;
}

a:hover {
  text-decoration: none;
}

code {
  font-family: 'IBM Plex Mono', monospace;
}

button {
  font: inherit;
  cursor: pointer;
}

button:active {
  transform: scale(.9);
}

:focus {
  outline: .125rem dashed currentColor;
  outline-offset: .125rem;
}


/**
 * Reset button
 */

[data-reset] {
  padding: 1rem 2rem;
  border: .25rem solid var(--navy);
  border-radius: .25rem;
  background: var(--white);
  color: var(--navy);
  font-size: 1.5rem;
}

[data-reset]:hover, [data-reset]:focus {
  background: var(--navy);
}

[data-reset]:focus {
  outline-color: var(--navy);
}


/**
 * Wrapper
 */

.wrapper {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}


/**
 * Hex value
 */

.hex {
  margin-bottom: 0;
  text-transform: uppercase;
}

.hex + p {
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 1.5rem;
}


/**
 * Color swatches
 */

.swatches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
}

.swatches > button {
  border: none;
  border-radius: 1rem;
}

.swatches > button::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}