/* https://coolors.co/133c55-386fa4-59a5d8-84d2f6-91e5f6 */

* {
  box-sizing: border-box;
}

:root {
  --navy: #133C55;
  --white: #FFF;
  font: 16px/1.5 'IBM Plex Sans', sans-serif;
}

body {
  margin: 0 0 1rem;
  color: #222;
}

header {
  padding: 4rem 0;
  background: var(--navy);
  color: var(--white);
}

h1 {
  margin: 0;
  font-size: 6rem;
  line-height: 1.1;
}

h2, .hex {
  font-size: 3rem;
}

[role='doc-subtitle'] {
  font-style: italic;
  font-size: 1.5rem;
}

code {
  font-family: 'IBM Plex Mono', monospace;
}

button {
  font: inherit;
}

[data-reset] {
  padding: 1rem 2rem;
  border: .25rem solid var(--navy);
  border-radius: .25rem;
  background: var(--white);
  color: var(--navy);
  font-size: 1.5rem;
}

[data-reset]:hover, [data-reset]:focus {
  background: var(--navy);
  color: var(--white);
}

[data-reset]:focus {
  outline: .25rem dashed var(--navy);
  outline-offset: .25rem;
}

[data-reset]:active {
  transform: scale(.9);
}

.wrapper {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.hex {
  text-transform: uppercase;
}

.swatches {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
}

.swatches > button {
  border: none;
  border-radius: 1rem;
}

.swatches > button::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.win {
  display: flex;
  align-items: center;
}

.win > h2 {
  margin-right: 2rem;
}